html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: #d8dae7;	
}
ol, ul {
	list-style: none;

}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Begin page styles */
#wrapper{
	width: 412px;
	margin: 10% auto;
}
#header{
	height: 20px;
}
#header p{
	float: right;
}
#content{
	background: url('/images/unbitly_bg.png') no-repeat left top;
	height: 224px;
	padding: 2%;
}
h1{
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	padding-top: 2%;
}
h2{
	font-size: 16px;
	text-align: center;
}
form{
	width: 156px;
	padding: 3% 0 2%;
	margin: 0 auto;
}

form p #submit{
	margin: 2% 21.8%;
}
#result{
	width: 326px;
	padding: 0 3.2%;
}
a,a:visited{
	color: #6f79a3;
	text-decoration: none;
}
span.error{
	color: red;
}
#footer{
	height: 20px;
	padding: 1.6% 2%;
	font-size: 12px;
}
#footer a{
	float: left;
}
#footer a+a{
	float: right;
}

